@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
}

/*Text select colour*/
::selection {
    color: white;
    background-color: gold
}

/*Top Navbar*/
/* .navbar {
    color: white;
    padding-top: 2rem !important;
}

.nav-logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-family: 'Caveat', cursive;
    /* background-color: #e73c7e; 
}

.nav-logo:hover {
    color: white;
}

.navbar .nav-links {
    list-style-type: none;
    display: flex;
    gap: 1.5rem !important;
    /* background-color: brown; 

}

.navbar .nav-links a {
    transition: color .2s ease;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    
}

.navbar .nav-links a:hover {
    color: white;
    cursor: pointer;
} */
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    position: fixed;
    width: 100%;
    color: white;
    padding-top: 2rem !important;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.menu-items a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
    font-family: 'Righteous', cursive;
}

.menu-items a:hover {
    color: white;
    cursor: pointer;
}

.logo {
    order: 1;
    font-size: 1.5rem;
    font-family: 'Righteous', cursive;
}

@media (max-width: 768px) {
    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;

    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: white;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: black;
        height: 100vh;
        width: 100vw;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        transition: transform 0.5s ease-in-out;

    }

    .navbar .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 2rem;
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(35deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-35deg);
    }
    .landing-content h1{
        font-size: 2.5rem !important;
    }
}

@media (max-width: 500px) {
    .logo {
        position: absolute;
        top: 06px;
        right: 15px;
    }

    .navbar .menu-items li {
        margin-bottom: 2.5rem;
        font-weight: 500;
    }

    .landing-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/*Underline effect for the nav links*/
.underline {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) {
    .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

/*Hamburger Customization*/
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

/*Landing Section*/
/* .landing-content{
    padding: 5rem;
} */
.landing-content {
    height: 400px;
    /* background-color: gold;  */
    align-items: center;
}

.landing-content h1 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    font-family: 'Righteous', cursive;
}

.landing-content p {
    color: white;
    text-align: center !important;
    font-family: 'Lora', serif;
}

/*animated circles*/
.animatedArea {
    width: 100%;
    height: 100%;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #a157c6a9;
    box-shadow:
        0 0 10px 10px #c471ed33,
        0 0 40px 12px #f64f5a5d;
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 30px;
    height: 30px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 50px;
    height: 50px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 40px;
    height: 40px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 47% 53% 70% 30% / 52% 65% 35% 48%;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 47% 53% 70% 30% / 52% 65% 35% 48%;
    }

}

/*animated gradient background*/
body {
    background: linear-gradient(-45deg, #e73c7e, #011a2f, black);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html {
    /*Removes white space at bottom in moobile view*/
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}